.dest, .content{padding:1.5em;background-color:#fff;box-shadow:0 0 4px rgba(0,0,0,0.2);color:#373737;font:normal 1.2em/1.4em Arial;}
.dest{margin-bottom:1em;border-radius:10px 0 10px 0;}
.content{border-radius:10px 0 0 0;}
.withRelated .main { float:left; width:51em; }
.withRelated .related { float:right; width:25em; }

section { margin-bottom:1.5em; }

/*= simulate text-stroke 
	First and second lines simulates text-stroke
	Third line is the real text-shadow
*/
.stroke { text-shadow:	-1px -1px 1px #fff, -1px 0 1px #fff, -1px +1px 1px #fff, 0 -1px 1px #fff, 0 +1px 1px #fff, 1px -1px 1px #fff, 1px 0 1px #fff, 1px 1px 1px #fff,
						-2px -2px 1px #fff, -2px 0 1px #fff, -2px 2px 1px #fff, 0 -2px 1px #fff, 0 +2px 1px #fff, 2px -2px 1px #fff, 2px 0 1px #fff, 2px 2px 1px #fff,
						0 3px 3px rgba(12, 12, 12, 0.75);}

						
/*= headers*/
h2 { font:normal 1.7em 'HelveticaLTStdCondLightRg'; }
h3 { font:normal 1.4em 'HelveticaLTStdCondLightRg'; }
	h3.titular { font:normal 1.5em 'Arial'; }
h2, h3 { margin-bottom:.4em; }
	h2.contact, h2.docu, h2.news, #block-views-noticias-block h2.block-title,  #block-views-noticias-block-1 h2.block-title, h2.info { padding-left:1.7em; padding-bottom:.1em; background-image:url(../img/i_headers.png); background-repeat:no-repeat;  }
		h2.contact { background-position:-90px 0px; }
		h2.docu { background-position:-60px -30px; }
		h2.news, #block-views-noticias-block h2.block-title, #block-views-noticias-block-1 h2.block-title { background-position:-30px -60px; } 
		h2.info { background-position:0px -90px; }
	h3.contact, h3.docu, h3.news, h3.info { padding-left:1.3em; padding-bottom:.1em; background-image:url(../img/i_headers_m.png); background-repeat:no-repeat; }
		h3.contact { background-position:-80px 0px; }
		h3.docu { background-position:-60px -20px; }
		h3.news { background-position:-40px -40px; } 
		h3.info { background-position:-20px -60px; }

h4 { margin-bottom:1em; font:bold 1em 'Arial'; }
	h4.docu, .field-name-field-pagbasica-texto h4 { color:#a6a538; }
        
/*= modulos informacion */
.modInfo { float:left; width:9.8em; height:19em; margin:0 1em 0 0 !important; padding:1em !important; }
	.modInfo:last-child { margin-right:0 !important; }
	
	.modInfo h3 { margin-bottom:0; font:normal 1.45em 'HelveticaLTStdCondBold'; letter-spacing:1px; }
	.modInfo span { display:inline-block; margin-top:1em; }
	
	.modInfo.views-row-1 { background:#58a8bd url(../img/b_type1.png) 0 0 no-repeat; color:#1d5c6d; }
		.views-row-1 h3 a { color:#196174; }
		.views-row-1 span { text-shadow:0 1px rgba(31, 113, 131, .75); }
	.modInfo.views-row-2 { background:#c53c3c url(../img/b_type2.png) 0 0 no-repeat; color:#fff; text-align:center; }
		.views-row-2 h3 a { color:#961d1d; }
		.views-row-2 span { text-shadow:0 1px rgba(135, 5, 5, 1); }
	.modInfo.views-row-3 { background:#ef9f35 url(../img/b_type3.png) 0 0 no-repeat; color:#5e3900; }
		.views-row-3 h3 a { color:#5e3900; }
		.views-row-3 span { margin-top:4em; text-shadow:0 1px rgba(234, 194, 129, .73); }
	.modInfo.views-row-4 { background:#87ab66 url(../img/b_type4.png) 0 0 no-repeat; color:#373737; text-align:center; }
		.views-row-4 h3 a { color:#373737; }
		.views-row-4 span { margin-top:0; text-shadow:0 1px rgba(216, 228, 205, .75); }
	.modInfo.views-row-5 { background:#4a4945 url(../img/b_type5.png) 0 0 no-repeat; color:#4f4e4c; }
		.views-row-5 h3 a { color:#171717; }
		.views-row-5 span { margin-top:0; }
	.modInfo.views-row-6 { background:#5f7c9a url(../img/b_type6.png) 0 0 no-repeat; color:#373737;  text-align:center; }
		.views-row-6 h3 a { color:#234467; }
		.views-row-6 span { margin-top:0; text-shadow:0 1px rgba(181, 205, 233, .75); }
	
	
	.modInfo.type7 { background-color:#dbd2ad; }
	.modInfo.type7, .modInfo.type7 a { color:#32230a; }

	.modInfo > a { font-size:1.7em; }
	.modInfo a { line-height:1.1em; text-decoration:none; }
		.modInfo a:hover { text-decoration:underline; }
	/* en aside (relacionado) */
	.cont-mod { border:1px solid #eee; border-radius:2px; width:24em; margin-bottom:1em; padding:.5em; background:#fff; }
	aside .modInfo.type7 { width:21em; height:18em; padding:1em 1.5em; background:url(../img/b_type7_a.png) 0 0 no-repeat; }
	aside .type7 h2 { font:bold 2.6em 'HelveticaLTStdCondBold'; }
	aside .modInfo > a { display:inline-block; width:9.5em; }
	
	
/*= breadcrumb*/
.breadcrumb { margin-bottom:1em; font-size:.9em; }
.breadcrumb li { display:inline-block; color:#d7d7d7; }
	.breadcrumb li:after { content:" : "; }
	.breadcrumb li:last-child:after {content:"";}

	.breadcrumb li a { color:#373737; text-decoration:none; }
	.breadcrumb li a:hover { text-decoration:underline; }

/*= destacados */	
.outstanding { border:1px solid #efefef; margin-bottom:1em; padding:1em; }
	.outstanding p:last-child { margin-bottom:0; }

/*= separador */
.sep, .sep hr { border:0; background:#fff url(../img/b_sepHor.png) 0 0 no-repeat; }
.sep { padding-left:50%; }
.sep hr { margin:0; height:2em; background-position:100% 0; }

/*= mapa */
	.cont-map { float:left; border:1px solid #eee; border-radius:2px; width:53em; height:31em; margin:0 2em 1em 0; padding:.5em; background:#fff; }
	
	/* filter (form) */
	.filter { float:right; width:22em; color:#787878; font-size:.9em; }
		label { display:block; margin-bottom:1em; }
		.filter span, .filter label, legend { display:inline-block; padding-bottom:.5em; font-weight:bold; margin-bottom:0; font-size:1.3em; }
			.filter fieldset label {float:left; width:10em;}
                        .filter .form-item {margin-top: 0px !important;}
			.filter select { border:1px solid #e3e3e3; width:100%; font-size:1.8em; }
			option { border:none; }
				.filter fieldset span { font-weight:normal; }
		
		span.btn, .form-submit { float:right; border-radius:5px; padding-bottom:0; background:#474747 url(../img/b_degBtn.png) 0 100% repeat-x; }
			.btn input.btn, .form-submit { border:none; padding:.4em 1.2em; color:#fff; font-size:1.8em; }
		
		/* all (horizontal) */
		.all .filter { float:none; width:100%; margin-bottom:1em; }
		.all .cont-map { width:76em; height:30em; float:none;}
		.all label, .all fieldset, .all .form-item { float:left; width:24em; margin-right:2em; }
			.all fieldset {width:18em;}
				.all fieldset label {width:7em;}
		.all span.btn, .all #edit-submit { float:left; margin-top:.6em; }
		
	
		#map-canvas { width:100%; height:100%; }
		.map { position:relative; }
	.legend { position:absolute; bottom:1.2em; right:0; width:22em; color:#787878; font-size:.9em; }
		.legend b, .legend ul { float:left; }
		.legend b { margin-right:1em; margin-bottom:1em; }
		.legend ul { border:solid 1px #eee; padding:1em;  }
		.legend li { display:inline-block; margin-right:1.5em; }
			.legend li .ico { display:inline-block; width:3em; margin-right:.5em; text-align:center; }
			.legend li img, .legend li span { float:left; display:block; }
			.legend li img { float:none; display:block; margin:0 auto; }
			.legend li span { margin-top:.1em; line-height:1.3em; }

			.legend li.middle span { display:inline-block; padding-top:.8em; }
			.legend li.middle span.ico { padding:0; }
		/* all (horizontal) */
		.all .legend { float:none; position:static; width:83.5em; }
		.all .legend ul { width:100%; }
			.all .legend li { height:4em; }
			.all .legend li:first-child span { padding-top:1em; }
		
	/* en aside (relacionado) */
	aside .cont-map { float:none; width:23.5em; height:21em; }
	aside .legend { position:static; float:none; width:27.5em; }

/*= table countries*/
/* table { margin: 5em 4em 1em; width:42em; } */
table { margin: 1em; width:42em; }
	table th { border:1px solid #e5e5e5; background-color:#efefef; font-weight:bold; text-align:left; }
	table tr { border:1px solid #efefef; border-top:none; }
	table td { width:33%; }
	 th, .countries td { padding:.2em .9em; }

/*= media content in dest. */
.cont-media { border-radius:10px 0 0 0; margin:-1em; overflow:hidden; }
	
/*= news */
.news .titular, .news .titular a, .more-link a { color:#D94D4D; }
.news .titular a { text-decoration:none; }
	.news .titular a:hover { text-decoration:underline; }

.news.summary { font-size:.9em;line-height:1.5em; margin-bottom: 10px; }
	.news.summary h3.titular { margin-bottom:.3em; font-size:1.4em; }
	.news.summary time { margin-bottom:.3em !important; font-size:1em !important; }
	.news.summary .img { float:left; border:1px solid #ededed; border-radius:2px; margin:0 1em 1em 0; padding:.3em; }
            .news.summary .img img {float: left;}
        .news.summary .views-field-description a {color: #D94D4D;}
.main article time, #main-content article time{ display:block; margin-bottom:1em; color:#b3b3b3; font-size:.9em; }

/*= other news */
.other-news li { margin-bottom:1em; }
	.other-news h3 { font:normal 1.1em 'Arial'; }
		.other-news h3 a { color:#d94d4d; text-decoration:none; }
		.other-news h3 a:hover { text-decoration:underline; }
	.other-news time, .other-news .author { font-size:.9em; }
	.other-news .author { color:#373737; }
	.other-news .author:hover { text-decoration:none; }

/*= pagination */
.pagination { margin-bottom:1.5em; padding:.5em .8em; background-color:#373737; color:#fff; font-size:.9em;}
        .pagination ul.pager {margin:0;}
        .pagination ul.pager li {margin:0; padding-right: 0;}
        .pagination ul.pager li.pager-last, .pagination ul.pager li.pager-last {display: none; position: absolute;}
	.pagination a { padding:0 .2em; color:#fff; text-decoration:none; }
		.pagination a:hover { text-decoration:underline; }
	.pagination .prev a, .pagination .next a, .pagination .pager-previous a, .pagination .pager-next a { background:url(../img/i_pag.png) 0 0 no-repeat; font:normal 1.3em 'HelveticaLTStdCondLightRg'; }
		.pagination .prev a, .pagination .pager-previous a { margin-right:1.3em; padding-left:1.5em; background-position:0 97%; }
		.pagination .next a, .pagination .pager-next a { margin-left:1.3em; padding-right:1.5em; background-position:100% -1px; }
	
	.pagination span.flt { display:inline-block; margin-top:.1em; }
	
/*= contact */
.contact section { margin-bottom:1.5em; }

/*= social networks */
.contTwitter .twitter-share-button { width:100px !important; margin-right:10px !important; }
#___plusone_0 { width:60px !important; }

/* SLX */
.field-name-field-noticias-descargas .field-items,
.field-name-field-noticias-enlaces .field-items{display: block; margin-bottom: 1.5em;}
.field-name-field-noticias-descargas .file-icon {margin-left: 5px;}
.field-name-field-pagbasica-texto p {padding-bottom: 10px;}
.field-name-field-pagbasica-texto ul, field-name-field-noticias-texto ul {list-style: circle !important; margin: 15px 30px;}
#block-sharethis-sharethis-block {position: relative; float: right; margin-top: 25px;}

#block-system-navigation {position: absolute; right: 0; top: 28px; z-index: 100;}
#block-system-navigation h2.block-title {display: none;}
#block-system-navigation ul li {position: relative; float: left; list-style:none;}
#block-system-navigation ul li a {color: #474747;text-decoration: none;font: 1.2em/1em Arial,san-serif;}
#block-system-navigation ul li a:hover {text-decoration: underline; cursor: pointer;}
ul.site-map-menu a {color: #D94D4D;}
